body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.border-box {
    border: 2px solid #000;
    padding: 20px;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.additional-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.circle-image {
    width: 100px; /* Adjusted size for the image */
    height: 100px; /* Adjusted size for the image */
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover; /* Ensures the image covers the container without stretching */
}

.additional-content {
    flex: 1;
}

.additional-content h2 {
    margin: 0;
}

.scores {
    margin-bottom: 20px;
    margin-top: 0; 
}

.team-score {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.team-logo {
    height: 1.5em;
    width: auto;
    margin-right: 10px;
}

.team-name {
    flex: 1;
    text-align: left;
}

.score {
    flex: 1;
    text-align: right;
}

.subtopics {
    margin-top: 20px; 
    margin-bottom: 20px;
}

.subtopics button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
table {
    width: 100%;
    
}

td {
    padding: 10px;

}

/* Optional styling for alternating row colors */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.content-item {
    display: none;
}

.content-item.active {
    display: block;
}
.knock{
    width: 400px;
    height: 400px;
    margin-left: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    line-height: 1.5;
}